<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   <!-- {{ title }}! -->
  </h1>
  

  <section>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
             
            </div>
           
              
                  <a routerLink="/AskQuestion">Ask Question</a>
                  <a routerLink="/QuestionList">Question List</a>
                  <a routerLink="/AnsBoot">Answer Boot</a>
                  <a routerLink="/QuestionDetails">Question Details</a> 
                  <a routerLink="/OnlineTextEditor">OnlineText Editor</a> 


              
          
          </div>
        </nav>
      
       
     
    </section>


<router-outlet></router-outlet>
